Repository samchouse/utils: changes, and which lint-staged commands are due for each by the changed paths.
All: doctoc, eslint --fix --ignore-path .gitignore, prettier --write --ignore-path .gitignore

.lintstagedrc.json:

{
  "README.md": "doctoc",
  "*.{js,ts,tsx}": "eslint --fix --ignore-path .gitignore",
  "*.json": "prettier --write --ignore-path .gitignore"
}

chore(deps): update dependency @trivago/prettier-plugin-sort-imports to v3
  package.json
  yarn.lock
Due: prettier --write --ignore-path .gitignore

feat(web): start landing page
  .gitignore
  .lintstagedrc.json
  .prettierrc.js
  packages/api/README.md
  packages/api/package.json
  packages/app/package.json
  packages/app/src/navigation/index.tsx
  packages/app/src/screens/Home.tsx
  packages/app/src/screens/Math/FactorsOf.tsx
  packages/app/src/screens/Math/GCF.tsx
  packages/app/src/screens/Math/GenerateNumbers.tsx
  packages/app/src/screens/Math/Math.tsx
  packages/app/src/screens/Math/ProductSum.tsx
  packages/app/src/screens/Text/Space.tsx
  packages/app/src/screens/Text/Text.tsx
  packages/app/src/screens/Text/WTF.tsx
  packages/lib/package.json
  packages/web/.eslintrc
  packages/web/README.md
  packages/web/next-env.d.ts
  packages/web/next-seo.config.ts
  packages/web/next.config.js
  packages/web/package.json
  packages/web/public/favicon.ico
  packages/web/public/logo.png
  packages/web/public/vercel.svg
  packages/web/src/components/Button.tsx
  packages/web/src/pages/_app.tsx
  packages/web/src/pages/_document.tsx
  packages/web/src/pages/api/hello.ts
  packages/web/src/pages/index.tsx
  packages/web/tailwind.config.js
  yarn.lock
Due: doctoc, eslint --fix --ignore-path .gitignore, prettier --write --ignore-path .gitignore

chore: cleanup
  .lintstagedrc.json
  .prettierrc.js
Due: eslint --fix --ignore-path .gitignore, prettier --write --ignore-path .gitignore

ci: add web and api to autolabeler
  .github/labeler.yml
Due: none

chore: remove extra READMEs
  packages/api/README.md
  packages/web/README.md
Due: doctoc

docs: add other projects to README structure
  README.md
Due: doctoc

docs: fix test command
  .github/CONTRIBUTING.md
Due: none

feat(api): start implementing api
  packages/api/.env
  packages/api/package.json
  packages/api/src/app.controller.spec.ts
  packages/api/src/app.controller.ts
  packages/api/src/app.module.ts
  packages/api/src/app.service.ts
  packages/api/src/builds/builds.controller.spec.ts
  packages/api/src/builds/builds.controller.ts
  packages/api/src/builds/builds.module.ts
  packages/api/src/builds/builds.service.spec.ts
  packages/api/src/builds/builds.service.ts
  packages/api/src/builds/dto/create-build.dto.ts
  packages/api/src/builds/entities/build.entity.ts
  packages/api/test/app.e2e-spec.ts
  packages/web/.env
  packages/web/next-seo.config.ts
  packages/web/next.config.js
  packages/web/src/components/Button.tsx
  packages/web/src/pages/index.tsx
  yarn.lock
Due: eslint --fix --ignore-path .gitignore, prettier --write --ignore-path .gitignore

feat(api): done api
  .gitignore
  packages/api/.env
  packages/api/docker/docker-compose.yml
  packages/api/package.json
  packages/api/src/app.module.ts
  packages/api/src/builds/builds.controller.ts
  packages/api/src/builds/builds.module.ts
  packages/api/src/builds/builds.service.ts
  packages/api/src/builds/dto/create-build.dto.ts
  packages/api/src/builds/entities/build.entity.ts
  packages/api/src/config/aws.config.ts
  packages/api/src/config/redis.config.ts
  packages/api/src/main.ts
  packages/api/src/redis/redis.module.ts
  packages/api/src/redis/redis.providers.ts
  packages/api/src/s3/s3.module.ts
  packages/api/src/s3/s3.providers.ts
  packages/api/tsconfig.build.json
  packages/api/webpack-hmr.config.js
  packages/web/.env
  yarn.lock
Due: eslint --fix --ignore-path .gitignore, prettier --write --ignore-path .gitignore

feat(api): admin guard
  .github/scripts/updateReadme.js
  .github/workflows/publish.yml
  README.md
  packages/api/package.json
  packages/api/src/builds/builds.controller.ts
  packages/api/src/guard/admin.guard.ts
  packages/api/src/main.ts
  packages/web/src/components/Button.tsx
  yarn.lock
Due: doctoc, eslint --fix --ignore-path .gitignore, prettier --write --ignore-path .gitignore

test(api): remove tests
  packages/api/package.json
  packages/api/src/app.controller.spec.ts
  packages/api/src/builds/builds.controller.spec.ts
  packages/api/src/builds/builds.service.spec.ts
Due: eslint --fix --ignore-path .gitignore, prettier --write --ignore-path .gitignore

test(api): forgot this one
  .github/workflows/main.yml
  packages/api/test/app.e2e-spec.ts
  packages/api/test/jest-e2e.json
Due: eslint --fix --ignore-path .gitignore, prettier --write --ignore-path .gitignore

fix(deps): update dependency react-native-screens to ~3.9.0
  packages/app/package.json
  yarn.lock
Due: prettier --write --ignore-path .gitignore

chore(deps): update everything
  package.json
  packages/api/package.json
  packages/app/package.json
  packages/lib/package.json
  packages/web/package.json
  yarn.lock
Due: prettier --write --ignore-path .gitignore

fix: fix codeql problems
  .github/workflows/codeql-analysis.yml
  packages/api/package.json
  packages/api/src/builds/builds.service.ts
  yarn.lock
Due: eslint --fix --ignore-path .gitignore, prettier --write --ignore-path .gitignore

chore: cleanup publish workflow
  .github/workflows/publish.yml
Due: none

feat(web): fix website
  packages/web/package.json
  packages/web/public/logo.png
  packages/web/src/pages/404.tsx
  packages/web/src/pages/_app.tsx
  packages/web/src/pages/_document.tsx
  packages/web/src/pages/index.tsx
  packages/web/src/styles/loading.css
  yarn.lock
Due: eslint --fix --ignore-path .gitignore, prettier --write --ignore-path .gitignore

fix(deps): update dependency next to v12.0.2
  packages/web/package.json
  yarn.lock
Due: prettier --write --ignore-path .gitignore

chore(deps): update dependency eslint-config-next to v12.0.2
  packages/web/package.json
  yarn.lock
Due: prettier --write --ignore-path .gitignore

chore(deps): fix some deps
  packages/api/package.json
  packages/app/package.json
  yarn.lock
Due: prettier --write --ignore-path .gitignore

feat(web): github button
  packages/web/public/logo.png
  packages/web/src/components/GitHubButton.tsx
  packages/web/src/pages/index.tsx
Due: eslint --fix --ignore-path .gitignore

v1.0.1
  lerna.json
  packages/api/package.json
  packages/app/package.json
  packages/lib/package.json
  packages/web/package.json
Due: prettier --write --ignore-path .gitignore

chore: add lerna debug log to git ignore
  .gitignore
Due: none

chore(deps): update commitlint monorepo
  package.json
  yarn.lock
Due: prettier --write --ignore-path .gitignore

refactor(lib): remove useless annotation
  packages/lib/src/math/gcf.ts
Due: eslint --fix --ignore-path .gitignore

chore(deps): update dependency @types/react to v17.0.34
  packages/web/package.json
  yarn.lock
Due: prettier --write --ignore-path .gitignore

chore(deps): update nextjs monorepo to v12.0.3
  packages/web/package.json
  yarn.lock
Due: prettier --write --ignore-path .gitignore

ci(api,lib): add caching to ci
  .github/workflows/codeql-analysis.yml
  .github/workflows/commitlint.yml
  .github/workflows/label.yml
  .github/workflows/main.yml
  .gitignore
  packages/api/package.json
  packages/lib/src/math/gcf.ts
Due: eslint --fix --ignore-path .gitignore, prettier --write --ignore-path .gitignore

chore: add misc scope
  commitlint.config.js
Due: eslint --fix --ignore-path .gitignore

chore(web,deps): scss and deps
  package.json
  packages/api/package.json
  packages/app/package.json
  packages/web/package.json
  packages/web/postcss.config.js
  packages/web/src/pages/_app.tsx
  packages/web/src/styles/styles.scss
  yarn.lock
Due: eslint --fix --ignore-path .gitignore, prettier --write --ignore-path .gitignore

chore(deps): update dependency lint-staged to v12
  package.json
  yarn.lock
Due: prettier --write --ignore-path .gitignore

chore(deps): update deps
  packages/api/package.json
  packages/app/package.json
  packages/lib/package.json
  packages/web/package.json
  yarn.lock
Due: prettier --write --ignore-path .gitignore

chore(deps): update deps again
  package.json
  packages/api/package.json
  packages/app/package.json
  packages/web/package.json
Due: prettier --write --ignore-path .gitignore

chore(deps): update lock file
  yarn.lock
Due: none

feat(web): minify with swc
  packages/web/next.config.js
Due: eslint --fix --ignore-path .gitignore

feat(web): font optimization
  packages/web/next-seo.config.ts
  packages/web/src/pages/_document.tsx
Due: eslint --fix --ignore-path .gitignore

chore(misc): dedupe lockfile
  package.json
  yarn.lock
Due: prettier --write --ignore-path .gitignore
