Repository samchouse/utils: changes, and which Codecov flags are due for each by the changed paths.
All: lib, app

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "70...100"
  status:
    project:
      default:
        base: auto
        target: auto
        threshold: 5%
      lib:
        base: auto
        target: auto
        threshold: 5%
        flags:
          - lib
      app:
        base: auto
        target: auto
        threshold: 5%
        flags:
          - app

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "reach,diff,flags,files,footer"
  behavior: default
  require_changes: no

flags:
  lib:
    paths:
      - packages/lib/
    carryforward: true
  app:
    paths:
      - packages/app/
    carryforward: true

chore(deps): update nextjs monorepo to v12.0.5-canary.12
  packages/web/package.json
  yarn.lock
Due: none

chore(deps): update nextjs monorepo to v12.0.5-canary.13
  packages/web/package.json
  yarn.lock
Due: none

fix(deps): update dependency react-native-screens to ~3.10.0
  packages/app/package.json
  yarn.lock
Due: app

chore(deps): update nextjs monorepo to v12.0.5-canary.16
  packages/web/package.json
  yarn.lock
Due: none

chore(deps): update nextjs monorepo to v12.0.5-canary.19
  packages/web/package.json
  yarn.lock
Due: none

chore(deps): update nextjs monorepo to v12.0.6
  packages/web/package.json
  yarn.lock
Due: none

chore(deps): update nextjs monorepo to v12.0.7
  packages/web/package.json
  yarn.lock
Due: none

chore: yarn 3 changes
  .gitattributes
  .yarnrc.yml
  package.json
  packages/api/package.json
  packages/api/src/main.ts
  packages/app/package.json
  packages/lib/package.json
  packages/web/package.json
  yarn.lock
Due: lib, app

chore(misc): yarn 3 plugins
  .yarn/plugins/@yarnpkg/plugin-constraints.cjs
  .yarn/plugins/@yarnpkg/plugin-typescript.cjs
  .yarn/plugins/@yarnpkg/plugin-version.cjs
  .yarn/plugins/@yarnpkg/plugin-workspace-tools.cjs
Due: none

ci(misc): fix ci
  .github/workflows/main.yml
Due: none

chore(misc): get rid of lerna
  .github/CONTRIBUTING.md
  .github/workflows/publish.yml
  .gitignore
  README.md
  commitlint.config.js
  package.json
  yarn.lock
Due: none

refactor: move order
  commitlint.config.js
Due: none

ci: remove unecessary token
  .github/workflows/main.yml
Due: none

chore(deps): update dependency tailwindcss to v3
  packages/web/package.json
  yarn.lock
Due: none

feat: tailwind 3
  commitlint.config.js
  package.json
  packages/api/package.json
  packages/app/package.json
  packages/web/.prettierrc.js
  packages/web/next-env.d.ts
  packages/web/package.json
  packages/web/tailwind.config.js
  scripts/updateDeps.js
  yarn.lock
Due: app

chore: remove constraints
  .yarn/plugins/@yarnpkg/plugin-constraints.cjs
  .yarnrc.yml
Due: none

ci(misc): update ci caches
  .github/workflows/main.yml
  .github/workflows/publish.yml
Due: none

ci: fix commitlint
  .github/workflows/commitlint.yml
Due: none

fix(deps): update expo monorepo
  packages/app/package.json
  yarn.lock
Due: app

fix(deps): update dependency expo to v44
  packages/app/package.json
  yarn.lock
Due: app

fix(deps): update dependency point-of-view to v5
  packages/api/package.json
  yarn.lock
Due: none

chore(deps): update dependency @types/react to v17.0.38
  packages/web/package.json
  yarn.lock
Due: none

chore(deps): update commitlint monorepo to v16
  package.json
  yarn.lock
Due: none

fix(deps): update dependency fastify-helmet to v6
  packages/api/package.json
  yarn.lock
Due: none

chore(deps): update nextjs monorepo to v12.0.8
  packages/web/package.json
  yarn.lock
Due: none
