Repository samchouse/utils: changes, and which Codecov flags are due for each by the changed paths.
All: lib, app

ci: fix ci hopefully now
  .github/workflows/publish.yml
  .gitignore
  package.json
Due: none

ci: fix
  .github/workflows/publish.yml
Due: none

ci: last try
  .github/workflows/publish.yml
Due: none

ci: fix??
  .github/workflows/publish.yml
Due: none

ci: caching
  .github/workflows/publish.yml
  package.json
  packages/app/a
Due: app

ci: disable some commands
  .github/workflows/publish.yml
Due: none

ci: echo pwd and enable building again
  .github/workflows/publish.yml
Due: none

fix(deps): update dependency expo-status-bar to ~1.1.0
  packages/app/package.json
  yarn.lock
Due: app

fix(deps): update expo monorepo
  packages/app/package.json
  yarn.lock
Due: app

feat(lib): add solution p1 to chemicalEquationBalancer
  commitlint.config.js
  packages/lib/src/science/chemicalEquationBalancer.ts
Due: lib

feat(app): start to add sentry
  packages/app/app.json
  packages/app/package.json
  yarn.lock
Due: app

chore(deps): update dependency @types/react-native to ~0.66.0
  packages/app/package.json
  yarn.lock
Due: app

ci: publish
  .github/workflows/publish.yml
  packages/app/package.json
  packages/app/src/screens/Math/GenerateNumbers.tsx
  packages/app/src/screens/Math/ProductSum.tsx
  packages/lib/src/science/chemicalEquationBalancer.ts
Due: lib, app

fix(deps): update deos
  packages/app/package.json
  yarn.lock
Due: app

ci: oops
  .github/workflows/publish.yml
  packages/app/src/screens/Math/ProductSum.tsx
Due: app

ci: ls nodemodules
  .github/scripts/decrypt.sh
  .github/workflows/publish.yml
Due: none

ci: forgot to update path
  .github/workflows/publish.yml
Due: none

ci: finally fix it
  .github/workflows/publish.yml
Due: none

ci: s3 instead of build artifacts
  .github/scripts/updateReadme.js
  .github/workflows/publish.yml
  README.md
Due: none

ci: hashing
  .github/workflows/publish.yml
Due: none

ci: commit the update readme
  .github/workflows/publish.yml
Due: none

ci: :(
  .github/workflows/publish.yml
Due: none

docs: update download URL for Android to latest
  README.md
Due: none

ci: merge
  .github/workflows/publish.yml
  README.md
Due: none

ci: hash
  .github/scripts/getUtilsHash.js
  .github/workflows/publish.yml
Due: none

ci: undo last commit
  .github/scripts/getUtilsHash.js
  .github/workflows/publish.yml
Due: none

chore(app): remove sentry
  packages/app/app.json
  packages/app/package.json
  yarn.lock
Due: app

test: fix some general test stuff
  codecov.yml
  packages/lib/package.json
Due: lib

feat(lib): finish as much as i can of chemicalEquationBalancer
  packages/lib/src/science/chemicalEquationBalancer.ts
Due: lib

feat: add web and api projects
  .gitignore
  codecov.yml
  packages/api/.eslintrc
  packages/api/.prettierrc.js
  packages/api/README.md
  packages/api/nest-cli.json
  packages/api/package.json
  packages/api/src/app.controller.spec.ts
  packages/api/src/app.controller.ts
  packages/api/src/app.module.ts
  packages/api/src/app.service.ts
  packages/api/src/main.ts
  packages/api/test/app.e2e-spec.ts
  packages/api/test/jest-e2e.json
  packages/api/tsconfig.build.json
  packages/api/tsconfig.json
  packages/web/.eslintrc
  packages/web/.prettierrc.js
  packages/web/README.md
  packages/web/next-env.d.ts
  packages/web/next.config.js
  packages/web/package.json
  packages/web/public/favicon.ico
  packages/web/public/vercel.svg
  packages/web/src/pages/_app.tsx
  packages/web/src/pages/api/hello.ts
  packages/web/src/pages/index.tsx
  packages/web/tailwind.config.js
  packages/web/tsconfig.build.json
  packages/web/tsconfig.json
  yarn.lock
Due: none

fix(api): fix tsconfigs
  packages/api/tsconfig.build.json
  packages/api/tsconfig.json
  packages/api/tsconfig.spec.json
Due: none

fix(api): wrong tsconfig option
  packages/api/tsconfig.json
Due: none

chore(deps): update nextjs monorepo to v12.0.1
  packages/web/package.json
  yarn.lock
Due: none

test(api): fix tests
  .github/workflows/main.yml
  packages/api/src/app.controller.spec.ts
  packages/api/src/app.controller.ts
  packages/api/src/app.service.ts
  packages/api/test/app.e2e-spec.ts
  packages/api/tsconfig.build.json
  packages/api/tsconfig.json
  packages/api/tsconfig.spec.json
  tsconfig.base.json
Due: none

test(api): fix low coverage
  packages/api/package.json
Due: none

Path conditions:
  lib: any of: packages/lib/
  app: any of: packages/app/
