Repository samchouse/utils: changes, and which Codecov flags are due for each by the changed paths.
All: lib, app

chore(deps): update expo/expo-github-action action to v7
  .github/workflows/publish.yml
Due: none

fix(deps): update dependency fastify-helmet to v7
  packages/api/package.json
  yarn.lock
Due: none

chore(deps): update dependency globby to v13
  package.json
  yarn.lock
Due: none

chore(deps): update nextjs monorepo to v12.0.9
  packages/web/package.json
  yarn.lock
Due: none

fix(deps): update dependency next-seo to v5
  packages/web/package.json
  yarn.lock
Due: none

chore(deps): update nextjs monorepo to v12.0.10
  packages/web/package.json
  yarn.lock
Due: none

fix(deps): update dependency sharp to ^0.30.0
  packages/web/package.json
  yarn.lock
Due: none

chore(deps): update dependency @types/react to v17.0.39
  packages/web/package.json
  yarn.lock
Due: none

fix(deps): update dependency react-native-screens to ~3.11.0
  packages/app/package.json
  yarn.lock
Due: app

fix(deps): update dependency react-native-safe-area-context to v3.4.0
  packages/app/package.json
  yarn.lock
Due: app

fix(deps): update dependency react-native-screens to ~3.12.0
  packages/app/package.json
  yarn.lock
Due: app

chore(deps): update nextjs monorepo to v12.1.0
  packages/web/package.json
  yarn.lock
Due: none

fix(deps): update dependency react-native-safe-area-context to v3.4.1
  packages/app/package.json
  yarn.lock
Due: app

fix(deps): update dependency react-native-safe-area-context to v4
  packages/app/package.json
  yarn.lock
Due: app

chore(deps): update actions/setup-java action to v3
  .github/workflows/publish.yml
Due: none

chore(deps): update actions/setup-node action to v3
  .github/workflows/commitlint.yml
  .github/workflows/main.yml
  .github/workflows/publish.yml
Due: none

chore(deps): update yarn to v3.2.0
  .yarn/releases/yarn-3.1.1.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Due: none

chore(deps): upgrade deps
  .yarn/releases/yarn-3.1.1.cjs
  .yarnrc.yml
  package.json
  packages/api/package.json
  packages/app/package.json
  packages/lib/package.json
  packages/web/package.json
  scripts/updateDeps.js
  yarn.lock
Due: lib, app

chore(deps): update lockfile
  yarn.lock
Due: none

ci(misc): hopefully fix workflows
  .github/workflows/commitlint.yml
  .github/workflows/main.yml
  .github/workflows/publish.yml
Due: none

chore(deps): update yarn
  .yarn/releases/yarn-3.2.0.cjs
Due: none

chore(deps): update dependency @types/react-native to ~0.67.0
  packages/app/package.json
  yarn.lock
Due: app

fix(deps): update dependency react-native-screens to ~3.13.0
  packages/app/package.json
  yarn.lock
Due: app

fix(deps): update dependency react-native-safe-area-context to v4.0.2
  packages/app/package.json
  yarn.lock
Due: app

fix(deps): update dependency react-native-safe-area-context to v4.1.0
  packages/app/package.json
  yarn.lock
Due: app

fix(deps): update dependency react-native-safe-area-context to v4.1.1
  packages/app/package.json
  yarn.lock
Due: app

chore(deps): update actions/checkout action to v3
  .github/workflows/codeql-analysis.yml
  .github/workflows/commitlint.yml
  .github/workflows/main.yml
  .github/workflows/publish.yml
Due: none

chore(deps): update actions/labeler action to v4
  .github/workflows/label.yml
Due: none

chore(deps): update dependency @types/react to v17.0.40
  packages/web/package.json
  yarn.lock
Due: none

fix(deps): update dependency react-native-safe-area-context to v4.1.3
  packages/app/package.json
  yarn.lock
Due: app

fix(deps): update dependency react-native-safe-area-context to v4.1.4
  packages/app/package.json
  yarn.lock
Due: app

fix(deps): update dependency react-native-safe-area-context to v4.2.1
  packages/app/package.json
  yarn.lock
Due: app

fix(deps): update dependency @nestjs/config to v2
  packages/api/package.json
  yarn.lock
Due: none

chore(deps): update dependency @types/react to v17.0.41
  packages/web/package.json
  yarn.lock
Due: none

chore(deps): update actions/cache action to v3
  .github/workflows/publish.yml
Due: none

fix(deps): update dependency react-native-safe-area-context to v4.2.2
  packages/app/package.json
  yarn.lock
Due: app

chore(deps): update dependency @types/react to v17.0.42
  packages/web/package.json
  yarn.lock
Due: none

Path conditions:
  lib: any of: packages/lib/
  app: any of: packages/app/
