Repository samchouse/utils: changes, and which Codecov flags are due for each by the changed paths.
All: lib, app

refactor(lib): change package name
  packages/lib/package.json
Due: lib

ci: add workflows
  .github/workflows/codeql-analysis.yml
  .github/workflows/main.yml
  yarn.lock
Due: none

ci: fix ci
  .github/workflows/main.yml
Due: none

fix: fix all
  .gitignore
  lerna.json
  package.json
  packages/lib/package.json
  packages/lib/tsconfig.build.json
  packages/lib/tsconfig.spec.json
  tsconfig.base.json
Due: lib

ci: fix workflows
  .github/workflows/main.yml
Due: none

docs: add readme
  .github/images/logo.png
  README.md
  packages/lib/package.json
  packages/lib/tsconfig.build.json
Due: lib

chore(deps): update dependency @types/react to ~16.14.0
  packages/app/package.json
  yarn.lock
Due: app

chore(deps): update dependency @types/react-native to ~0.65.0
  packages/app/package.json
  yarn.lock
Due: app

fix(deps): update dependency react-native-safe-area-context to v3.3.2
  packages/app/package.json
  yarn.lock
Due: app

fix(deps): update dependency react-native-screens to ~3.8.0
  packages/app/package.json
  yarn.lock
Due: app

fix: a lot of pain
  .github/images/logo.png
  .gitignore
  README.md
  package.json
  packages/app/metro.config.js
  packages/app/package.json
  packages/app/src/screens/Math/FactorsOf.tsx
  packages/app/src/screens/Math/GCF.tsx
  packages/app/src/screens/Text/WTF.tsx
  packages/lib/package.json
  packages/lib/src/math/sumProductEqual.ts
  yarn.lock
Due: lib, app

build(app): fix build systems
  packages/app/.eslintrc
  packages/app/metro.config.js
  packages/app/tsconfig.json
Due: app

chore: fix eslint
  packages/app/.eslintrc
  packages/app/tsconfig.json
Due: app

ci: add more workflows
  .github/labeler.yml
  .github/workflows/commitlint.yml
  .github/workflows/label.yml
Due: none

chore: fix eslint and lint-staged
  .husky/pre-commit
  .lintstagedrc.json
  packages/app/.eslintrc
  packages/app/src/App.tsx
  packages/app/src/navigation/index.tsx
  packages/app/tsconfig.build.json
  packages/app/tsconfig.json
  packages/lib/.eslintrc
Due: lib, app

test(lib): test
  packages/lib/src/index.ts
Due: lib

Revert "test(lib): test"
  packages/lib/src/index.ts
Due: lib

chore(deps): update dependency globby to v12
  package.json
  yarn.lock
Due: none

refactor(lib): rename sumProductEquals to productSum
  packages/lib/src/math/__tests__/productSum.spec.ts
  packages/lib/src/math/__tests__/sumProductEqual.spec.ts
  packages/lib/src/math/index.ts
  packages/lib/src/math/productSum.ts
Due: lib

fix(app): space seperatition for gcf instead of comma
  packages/app/src/screens/Math/GCF.tsx
Due: app

feat(app): added productSum screen
  package.json
  packages/app/package.json
  packages/app/src/navigation/Stacks.tsx
  packages/app/src/screens/Math/Math.tsx
  packages/app/src/screens/Math/ProductSum.tsx
  packages/app/src/typings/Stacks.ts
  packages/lib/package.json
  packages/lib/src/math/productSum.ts
Due: lib, app

feat(app): implement generateNumbers screen
  packages/app/src/navigation/Stacks.tsx
  packages/app/src/screens/Math/GenerateNumbers.tsx
  packages/app/src/screens/Math/Math.tsx
  packages/app/src/screens/Math/ProductSum.tsx
  packages/app/src/typings/Stacks.ts
Due: app

feat(lib): add space utility for @Lami-Lemmy
  packages/lib/src/text/index.ts
  packages/lib/src/text/space.ts
Due: lib

feat(app): implement space screen
  packages/app/src/navigation/Stacks.tsx
  packages/app/src/screens/Text/Space.tsx
  packages/app/src/screens/Text/Text.tsx
  packages/app/src/typings/Stacks.ts
Due: app

feat(lib): implemented half of chemicalEquationBalancer
  packages/app/tsconfig.build.json
  packages/lib/src/index.ts
  packages/lib/src/science/chemicalEquationBalancer.ts
  packages/lib/src/science/index.ts
Due: lib, app

fix(lib): switch to better filter method
  packages/lib/src/math/perfectSquare.ts
Due: lib

fix(app): fix linting problems and tsc complaints
  packages/app/src/screens/Math/ProductSum.tsx
  packages/app/tsconfig.build.json
Due: app

test(lib): fix tests
  packages/lib/src/math/__tests__/productSum.spec.ts
  packages/lib/src/text/__tests__/space.spec.ts
  packages/lib/src/text/__tests__/wtf.spec.ts
  packages/lib/src/text/space.ts
  packages/lib/tsconfig.spec.json
Due: lib

refactor: rename packages to be prefixed with utils
  README.md
  commitlint.config.js
  package.json
  packages/app/metro.config.js
  packages/app/package.json
  packages/app/src/screens/Math/FactorsOf.tsx
  packages/app/src/screens/Math/GCF.tsx
  packages/app/src/screens/Math/GenerateNumbers.tsx
  packages/app/src/screens/Math/ProductSum.tsx
  packages/app/src/screens/Text/Space.tsx
  packages/app/src/screens/Text/WTF.tsx
  packages/lib/package.json
  yarn.lock
Due: lib, app

ci: add ci to build android app
  .github/workflows/main.yml
  .github/workflows/publish.yml
  package.json
Due: none

ci: fix publish ci
  .github/workflows/publish.yml
Due: none

ci: disable ios builds
  .github/workflows/publish.yml
Due: none

ci: java 8
  .github/workflows/publish.yml
Due: none

ci: hopefully fix build ci
  .github/scripts/decrypt.sh
  .github/secrets/utils.jks.gpg
  .github/workflows/publish.yml
  packages/app/a
  packages/app/app.json
Due: app

ci: test something
  .github/workflows/publish.yml
Due: none

ci: re add workflow
  .github/workflows/publish.yml
Due: none

ci: fix ci script
  .github/scripts/decrypt.sh
Due: none

ci: expo username and password
  .github/workflows/publish.yml
Due: none

ci: add expo cli
  .github/workflows/publish.yml
Due: none

ci: no clue how caching works
  .github/workflows/publish.yml
Due: none

Path conditions:
  lib: any of: packages/lib/
  app: any of: packages/app/
